<!doctype html>
<head>
    <%- include('template/head') %>
</head>
<html>

    <%- include('template/navbar') %>

<form method="post" action="/update_comment/<%= comment.id %>" style=" position: relative; display: flex; padding: 20px 0px; justify-content: space-between;">
    <div class="mb-3">
        <textarea class="form-control" style="width: 400px;" name="content" id="exampleFormControlTextarea1" rows="3">
            <%= comment.content %>
        </textarea>
    </div>
    <input class="btn btn-outline-secondary" type="submit" value="儲存" style="position: absolute; bottom: 30px; right: 10px;"/>
</form>
</html>